@import '../abstract/variables';

footer {
    color: $color-footer;
    font-size: .87rem;
    margin: 3rem 0 2rem 0;
    text-align: center;
    
    @media screen and (min-width: 1024px) {
        margin: 8rem 0 1rem 0;
    }
    
    p {
        
        a {
            color: $color-footer;
            font-weight: 700;
            text-decoration: none;
        }
    }
}