@import '../abstract/variables';

main {
    .intro {
        .intro__text--container {
            align-items: center;
            display: flex;
            flex-direction: column;
            row-gap: .5rem;

            img {
                border-radius: .8rem;
                margin-top: 2rem;
                width: 6.25rem;
            }

            h1 {
                color: $color-gray;
                font-size: .87rem;
            }

            p {
                color: $color-light-gray;
                font-size: .62rem;
                font-weight: 600;
            }
        }
    }
}