@media screen and (min-width: 1024px) {
  main .main__texts--container {
    display: flex;
    justify-content: center;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    width: 98%;
  }
}
@media screen and (min-width: 1440px) {
  main .main__texts--container {
    display: flex;
    justify-content: center;
    -moz-column-gap: 15rem;
         column-gap: 15rem;
    width: 91%;
  }
}
main .main__texts--container h1 {
  font-family: "PT Serif", serif;
  font-size: 2.25rem;
  margin: 4.5rem 0 2.5rem 1.5rem;
}
@media screen and (min-width: 700px) {
  main .main__texts--container h1 {
    margin-left: 8%;
  }
}
@media screen and (min-width: 1024px) {
  main .main__texts--container h1 {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  main .main__texts--container .main__texts--description {
    margin-top: 4.5rem;
  }
}
main .main__texts--container .main__texts--description h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.12rem;
  font-weight: 600;
  margin: 0 0 1rem 1.5rem;
  text-transform: uppercase;
}
@media screen and (min-width: 700px) {
  main .main__texts--container .main__texts--description h2 {
    margin-left: 8%;
  }
}
main .main__texts--container .main__texts--description p {
  font-family: "Poppins", sans-serif;
  font-size: 0.87rem;
  margin: 0 0 4.5rem 1.5rem;
  width: 20rem;
}
@media screen and (min-width: 600px) {
  main .main__texts--container .main__texts--description p {
    width: 25rem;
  }
}
@media screen and (min-width: 664px) {
  main .main__texts--container .main__texts--description p {
    width: 35rem;
  }
}
@media screen and (min-width: 700px) {
  main .main__texts--container .main__texts--description p {
    margin-left: 8%;
  }
}
@media screen and (min-width: 1024px) {
  main .main__texts--container .main__texts--description p {
    width: 20rem;
  }
}
main .img__container {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  flex-wrap: wrap;
}
main .img__container figure:nth-child(2n) {
  margin-top: 3rem;
}
@media screen and (min-width: 664px) {
  main .img__container figure:nth-child(2n) {
    margin-top: 0;
  }
}
@media screen and (min-width: 600px) {
  main .img__container {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 664px) {
  main .img__container figure:nth-child(2), main .img__container figure:nth-child(5) {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  main .img__container {
    margin: 0 auto;
    max-width: 80%;
  }
}
@media screen and (min-width: 1720px) {
  main .img__container {
    max-width: 91rem;
  }
}
main .img__container figure {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  position: relative;
  row-gap: 0.5rem;
  width: 9rem;
}
@media screen and (min-width: 528px) {
  main .img__container figure {
    width: 10rem;
  }
}
@media screen and (min-width: 979px) {
  main .img__container figure {
    width: 12rem;
  }
}
@media screen and (min-width: 1440px) {
  main .img__container figure {
    width: 16rem;
  }
}
main .img__container figure img {
  width: 100%;
}
main .img__container figure figcaption {
  font-size: 0.87rem;
  font-weight: bold;
}
main .img__container figure span {
  display: inline-block;
  font-size: 0.62rem;
  left: 5rem;
  position: absolute;
  text-transform: uppercase;
  top: 4.1rem;
  transform: rotate(90deg);
  width: 100%;
}
@media screen and (min-width: 528px) {
  main .img__container figure span {
    left: 5.5rem;
    top: 4.55rem;
  }
}
@media screen and (min-width: 979px) {
  main .img__container figure span {
    left: 6.5rem;
    top: 5.55rem;
  }
}
@media screen and (min-width: 1440px) {
  main .img__container figure span {
    left: 8.5rem;
    top: 7.55rem;
  }
}

footer {
  margin: 32% 0 0.5rem 0;
}
footer p {
  color: #A9A9A9;
  font-family: "Montserrat", sans-serif;
  font-size: 0.87rem;
  text-align: center;
}
footer p a {
  color: #A9A9A9;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */