main {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
main .firstSection__container {
  width: 22rem;
}
main .firstSection__container h1 {
  font-family: "Playfair Display";
  margin-top: 2rem;
}
main .firstSection__container .section__text {
  align-items: flex-start;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
  margin-top: 0.7rem;
}
main .firstSection__container .section__text .section__text--img {
  margin-top: 0.25rem;
}
main .firstSection__container .section__text p {
  color: #4F4F4F;
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 500;
  width: 20rem;
}
main .firstSection__container .firstSection__img {
  border-radius: 0.75rem;
  margin-top: 2rem;
  width: 350px;
}
main .firstSection__container .firstSection__utensils {
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
  margin-top: 1.5rem;
}
main .firstSection__container .firstSection__utensils .fa-utensils {
  color: #F2994A;
  font-size: 0.8rem;
}
main .firstSection__container .firstSection__utensils .utensils__text {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
}
main .firstSection__container .firstSection__utensils .utensils__text .utensils__text--firstSpan {
  color: #BDBDBD;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
main .firstSection__container .firstSection__utensils .utensils__text .utensils__text--secondSpan {
  color: #F2994A;
  font-size: 0.62rem;
  font-weight: 500;
}
main .firstSection__container .firstSection__time {
  display: flex;
  -moz-column-gap: 12%;
       column-gap: 12%;
  margin-top: 1.5rem;
}
main .firstSection__container .firstSection__time .firstSection__time--infos {
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
}
main .firstSection__container .firstSection__time .firstSection__time--infos .fa-clock {
  font-size: 0.9rem;
}
main .firstSection__container .firstSection__time .firstSection__time--infos .time__infos--text {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
}
main .firstSection__container .firstSection__time .firstSection__time--infos .time__infos--text .info__time--firstSpan {
  color: #BDBDBD;
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
main .firstSection__container .firstSection__time .firstSection__time--infos .time__infos--text .info__time--secondSpan {
  font-size: 0.62rem;
  font-weight: 500;
}
main .secondSection__container {
  color: #333333;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
main .secondSection__container h2 {
  font-family: "Playfair Display";
  font-size: 1.12rem;
}
main .secondSection__container h3 {
  font-family: "Playfair Display";
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}
main .secondSection__container label {
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
  font-family: "Montserrat";
}
main .secondSection__container label input {
  height: 21px;
  width: 21px;
}
main .secondSection__container label p {
  font-size: 0.87rem;
  max-width: 321px;
}
main .secondSection__container label p span {
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */