header {
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 576px) {
  header {
    padding: 2.5rem 2rem 1.5rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 2.5rem 3rem;
  }
}
@media screen and (min-width: 1440px) {
  header {
    padding: 2.5rem 4rem;
  }
}
header nav {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
header nav p {
  border: 1px solid white;
  font-family: "Crimson Pro", serif;
  font-size: 0.87rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
header nav i {
  font-size: 2rem;
  z-index: 3;
}
@media screen and (min-width: 1024px) {
  header nav .fa-bars {
    display: none;
  }
}
header nav .fa-xmark {
  display: none;
}
header nav ul {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  list-style: none;
  background-color: #181719;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 50%;
  position: absolute;
  row-gap: 5%;
  top: -100%;
  transform: translate(-50%);
  transition: 0.8s ease-in-out;
  width: 100vw;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    flex-direction: row;
    font-weight: 500;
    height: auto;
    position: static;
    transform: none;
    width: auto;
  }
}
header nav ul li {
  font-size: 1.12rem;
  text-align: center;
  position: relative;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul li a:hover {
  font-weight: bold;
}
header nav ul li::after {
  content: "";
  background-color: #FFFFFF;
  top: 120%;
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.5s;
  width: 0%;
}
header nav ul li:hover::after {
  width: 100%;
}
header nav .nav__ul--expanded {
  position: fixed;
  top: 0;
}

main {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main {
    -moz-column-gap: 7%;
         column-gap: 7%;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  main {
    -moz-column-gap: 11.5%;
         column-gap: 11.5%;
  }
}
main .main__text--container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-right: 4.3rem;
  row-gap: 1.5rem;
}
main .main__text--container h1 {
  font-family: "Lora", serif;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1440px) {
  main .main__text--container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
main .main__text--container p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.87rem;
  line-height: 1.06rem;
  width: 15.62rem;
}
@media screen and (min-width: 1440px) {
  main .main__text--container p {
    font-size: 1.5rem;
    line-height: 1.82rem;
    width: 25.62rem;
  }
}
main .main__text--container .main__read {
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
}
@media screen and (min-width: 1440px) {
  main .main__text--container .main__read {
    margin-top: 2rem;
  }
}
main .main__text--container .main__read span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.87rem;
  font-weight: bold;
}
@media screen and (min-width: 1440px) {
  main .main__text--container .main__read span {
    font-size: 1.12rem;
  }
}
main .main__images--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .main__images--container img {
  width: 22rem;
}
@media screen and (min-width: 1024px) {
  main .main__images--container img {
    width: 32rem;
  }
}
@media screen and (min-width: 1440px) {
  main .main__images--container img {
    width: 42rem;
  }
}
main .main__images--container .aliza__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding: 0 1.5rem;
  background-color: #181719;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  height: 8.62rem;
  left: 2.5rem;
  position: absolute;
  top: 13.5rem;
  width: 18.75rem;
}
@media screen and (min-width: 1024px) {
  main .main__images--container .aliza__card {
    left: 11.5rem;
    top: 20.5rem;
  }
}
@media screen and (min-width: 1440px) {
  main .main__images--container .aliza__card {
    left: 21.5rem;
    top: 27rem;
  }
}
main .main__images--container .aliza__card figure {
  align-items: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  display: flex;
}
main .main__images--container .aliza__card figure img {
  border-radius: 50%;
  width: 2.25rem;
}
main .main__images--container .aliza__card figure .figcaption__container figcaption {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
main .main__images--container .aliza__card figure .figcaption__container p {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 0.62rem;
  font-weight: 500;
}
main .main__images--container .aliza__card h3 {
  font-family: "Lora", serif;
  font-size: 1.12rem;
  font-weight: bold;
  line-height: 1.43rem;
  width: 13.12rem;
}

footer {
  color: #828282;
  margin: 42% 0 1rem 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 7.5%;
  }
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.87rem;
}
footer p a {
  color: #828282;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181719;
}
body .main__menu--expanded {
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }
}/*# sourceMappingURL=style.css.map */