// Colors
$color-blog-span: #E0E0E0;
$color-blue: #2F80ED;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-green: #60af60;
$color-space: #C4C4C4;
$color-titles: #333333;
$color-white: #FFFFFF;


// Fonts
$mont: 'Montserrat';