@import '../abstract/variables';

main {

    .main__texts--container {

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
            column-gap: 6rem;
            width: 96%;
        }

        h1 {
            font-family: $font-pt-serif;
            font-size: 2.25rem;
            margin: 4.5rem 0 2.5rem 1.5rem;

            @media screen and (min-width: 700px) {
                margin-left: 8%;
            }

            @media screen and (min-width: 1024px) {
                margin-left: 0;
                align-self: flex-start;
            }
        }

        .main__texts--description {
            
            @media screen and (min-width: 1024px) {
                margin-top: 4.5rem;
            }

            h2 {
                font-family: $font-poppins;
                font-size: 1.12rem;
                font-weight: 600;
                margin: 0 0 1rem 1.5rem;
                text-transform: uppercase;

                @media screen and (min-width: 700px) {
                    margin-left: 8%;
                }
            }

            p {
                font-family: $font-poppins;
                font-size: 0.87rem;
                margin: 0 0 4.5rem 1.5rem;
                width: 20rem;

                @media screen and (min-width: 600px) {
                    width: 25rem;
                }

                @media screen and (min-width: 664px) {
                    width: 35rem;
                }

                @media screen and (min-width: 700px) {
                    margin-left: 8%;
                }

                @media screen and (min-width: 1024px) {
                    width: 20rem;
                }
            }
        }
    }

    .img__container {
        display: flex;
        justify-content: center;
        column-gap: 10%;
        flex-wrap: wrap;

        & figure:nth-child(2n) {
            margin-top: 3rem;

            @media screen and (min-width: 664px) {
                margin-top: 0;
            }
        }

        @media screen and (min-width: 600px) {
            padding: 0 2rem;
        }

        @media screen and (min-width: 664px) {

            & figure:nth-child(2),
            & figure:nth-child(5) {
                margin-top: 4rem;
            }
        }

        figure {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-family: $font-poppins;
            position: relative;
            row-gap: .5rem;
            width: 9rem;

            @media screen and (min-width: 528px) {
                width: 10rem;
            }

            @media screen and (min-width: 979px) {
                width: 12rem;
            }

            img {
                width: 100%;
            }

            figcaption {
                align-self: flex-start;
                font-size: .87rem;
                font-weight: bold;
            }

            span {
                display: inline-block;
                font-size: .62rem;
                left: 5rem;
                position: absolute;
                text-transform: uppercase;
                top: 4.1rem;
                transform: rotate(90deg);
                width: 100%;

                @media screen and (min-width: 528px) {
                    left: 5.5rem;
                    top: 4.55rem;
                }

                @media screen and (min-width: 979px) {
                    left: 6.5rem;
                    top: 5.55rem;
                }
            }
        }
    }
}

footer {

    margin: 32% 0 .5rem 0;

    p {
        color: $color-light-gray;
        font-family: $font-mont;
        font-size: .87rem;
        text-align: center;

        a {
            color: $color-light-gray;
            text-decoration: none;
        }
    }
}