@import 'abstract/variables';
@import 'components/section-intro';
@import 'components/section-skills';
@import 'components/section-experiences';

* {
    box-sizing: border-box;
    font-family: $mont;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(186, 186, 186, 0.345);
}