* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Inconsolata";
    font-size: 1.5rem;
    margin: 5% 0 0 5%;
    text-transform: uppercase;
}

.align__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
}

.main__img {
    width: 80%;
}

h1 {
    color: #333333;
    font-family: "Space Mono";
    font-size: 3rem;
    width: 90%;
}

p {
    color: #4F4F4F;
    font-family: "Space Mono";
    font-size: 1.12rem;
    width: 90%;
}

span {
    align-items: center;
    background-color: #333333;
    display: flex;
    height: 4.25rem;
    justify-content: center;
    margin-left: 5%;
    width: 13.5rem;
}

span a {
    color: #FFFFFF;
    font-family: "Space Mono";
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}