@import 'abstract/variables';

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: $inconsolata;
    font-size: 1.5rem;
    margin: 5% 0 0 5%;
    text-transform: uppercase;
}

.align__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
}

.main__img {
    width: 80%;
}

h1 {
    color: $color-dark-gray;
    font-family: $space-mono;
    font-size: 3rem;
    width: 90%;
}

p {
    color: $color-light-gray;
    font-family: $space-mono;
    font-size: 1.12rem;
    width: 90%;
}

span {
    align-items: center;
    background-color: $color-dark-gray;
    display: flex;
    height: 4.25rem;
    justify-content: center;
    margin-left: 5%;
    width: 13.5rem;
}

span a {
    color: $color-white;
    font-family: $space-mono;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    margin-top: 32%;
    width: 100%;
}

footer p {
    font-size: .88rem;
    font-family: $mont;
    text-align: center;
    width: 100%;
}