@import '../abstract/variables';

header {
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;

    nav {
        align-items: center;
        color: $color-white;
        display: flex;
        justify-content: space-between;

        p {
            border: 1px solid white;
            font-family: $font-crimson;
            font-size: .87rem;
            padding: .5rem 1rem;
            text-transform: uppercase;
        }

        i {
            font-size: 2rem;
            z-index: 2;
        }

        .fa-xmark {
            display: none;
        }

        ul {
            font-family: $font-mont;
            font-weight: bold;
            list-style: none;

            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            left: 50%;
            position: absolute;
            row-gap: 5%;
            top: -100%;
            transform: translate(-50%);
            transition: .7s ease-in-out;
            width: 100vw;

            li {
                font-size: 1.12rem;
                text-align: center;

                a {
                    color: $color-white;
                    text-decoration: none;
                }
            }
        }

        .nav__ul--expanded {
            top: 0;
        }
    }
}