@import '../abstract/variables';

header {
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;

    @media screen and (min-width: 576px) {
        padding: 2.5rem 2rem 1.5rem 2rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 2.5rem 3rem;
    }

    @media screen and (min-width: 1440px) {
        padding: 2.5rem 4rem;
    }

    nav {
        align-items: center;
        color: $color-white;
        display: flex;
        justify-content: space-between;

        p {
            border: 1px solid white;
            font-family: $font-crimson;
            font-size: .87rem;
            padding: .5rem 1rem;
            text-transform: uppercase;
        }

        i {
            font-size: 2rem;
            z-index: 3;
        }

        .fa-bars {

            @media screen and (min-width: 1024px) {
                display: none;
            }
        }

        .fa-xmark {
            display: none;
        }

        ul {
            font-family: $font-mont;
            font-weight: bold;
            list-style: none;

            background-color: $color-black;
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            left: 50%;
            position: absolute;
            row-gap: 5%;
            top: -100%;
            transform: translate(-50%);
            transition: .8s ease-in-out;
            width: 100vw;
            z-index: 2;

            @media screen and (min-width: 1024px) {
                column-gap: 4rem;
                flex-direction: row;
                font-weight: 500;
                height: auto;
                position: static;
                transform: none;
                width: auto;
            }

            li {
                font-size: 1.12rem;
                text-align: center;

                a {
                    color: $color-white;
                    text-decoration: none;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }

        .nav__ul--expanded {
            position: fixed;
            top: 0;
        }
    }
}