@import '../abstract/variables';

header {
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;

    @media screen and (min-width: 576px) {
        padding: 2.5rem 2rem 1.5rem 2rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 2.5rem 3rem;
    }

    @media screen and (min-width: 1440px) {
        padding: 2.5rem 4rem;
    }

    nav {
        align-items: center;
        color: $color-white;
        display: flex;
        justify-content: space-between;

        .header__logo {
            border: 1px solid white;
            color: $color-white;
            font-family: $font-crimson;
            font-size: .87rem;
            padding: .5rem 1rem;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }

        .fa-bars {
            font-size: 2rem;

            @media screen and (min-width: 1024px) {
                display: none;
            }
        }

        ul {
            background-color: $color-black;
            display: flex;
            flex-direction: column;
            font-family: $font-mont;
            font-weight: bold;
            height: 100vh;
            justify-content: center;
            left: 50%;
            list-style: none;
            position: absolute;
            row-gap: 5%;
            top: -130%;
            transform: translate(-50%);
            transition: .8s ease-in-out;
            width: 100vw;
            z-index: 2;

            @media screen and (min-width: 1024px) {
                column-gap: 4rem;
                flex-direction: row;
                font-weight: 500;
                height: auto;
                position: static;
                transform: none;
                transition: none;
                width: auto;
            }

            .fa-xmark {
                font-size: 2rem;
                position: absolute;
                right: 1.1rem;
                top: 1.7rem;

                @media screen and (min-width: 576px) {
                    right: 2.1rem;
                    top: 2.7rem;
                }

                @media screen and (min-width: 1024px) {
                    display: none;
                }
            }

            li {
                font-size: 1.12rem;
                text-align: center;
                position: relative;

                a {
                    color: $color-white;
                    text-decoration: none;

                    &:hover {
                        font-weight: bold;
                    }
                }

                &::after {
                    content: '';
                    background-color: $color-white;
                    top: 120%;
                    height: 2px;
                    left: 0;
                    position: absolute;
                    transition: width 0.5s;
                    width: 0%;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }

        .nav__ul--expanded {
            // position: fixed;
            top: 0;
        }
    }
}