@import '../abstract/variables';

main {
    align-items: center;
    color: $color-white;
    display: flex;
    flex-direction: column;

    .main__text--container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        padding-right: 4.3rem;
        row-gap: 1.5rem;

        @media screen and (min-width: 500px) {
            
        }

        h1 {
            font-family: $font-lora;
            font-size: 2.25rem;
            margin-bottom: .5rem;
        }

        p {
            font-family: $font-mont;
            font-size: .87rem;
            line-height: 1.06rem;
            width: 15.62rem;
        }

        .main__read {
            align-items: center;
            column-gap: 1rem;
            display: flex;

            span {
                font-family: $font-mont;
                font-size: .87rem;
                font-weight: bold;
            }
        }
    }

    .main__images--container {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;

        img {
            width: 22rem;
        }

        .aliza__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 1rem;
            padding: 0 1.5rem;

            background-color: $color-black;
            box-shadow: 0px 4px 4px 0px #00000040;
            height: 8.62rem;
            left: 2.5rem;
            position: absolute;
            top: 13.5rem;
            width: 18.75rem;


            figure {
                align-items: center;
                column-gap: .8rem;
                display: flex;

                img {
                    border-radius: 50%;
                    width: 2.25rem;
                }

                .figcaption__container {

                    figcaption {
                        font-family: $font-mont;
                        font-size: .75rem;
                        font-weight: 500;
                        margin-bottom: .2rem;
                    }

                    p {
                        color: $color-gray;
                        font-family: $font-mont;
                        font-size: .62rem;
                        font-weight: 500;
                    }
                }
            }

            h3 {
                font-family: $font-lora;
                font-size: 1.12rem;
                font-weight: bold;
                line-height: 1.43rem;
                width: 13.12rem;
            }
        }
    }
}