// Colors
$color-blue: #2D9CDB;
$color-button-bg: #E0E0E0;
$color-button-text: #828282;
$color-footer-bg: #100E1D;
$color-footer-text: #F2F2F2;
$color-gray1: #333333;
$color-gray2: #4F4F4F;
$color-gray3: #828282;
$color-gray4: #BDBDBD;
$color-gray6: #F2F2F2;
$color-green: #27AE60;
$color-red: #EB5757;
$color-white: #FFFFFF;


// Fonts
$font-heebo: 'Heebo';
$font-mont: 'Montserrat';
$font-poppins: 'Poppins';