#hobbies {
    background-color: $color-white;
    border-radius: 12px;
    padding: 20px 20px 30px 20px;
    transition: .7s ease-in-out;
    width: 330px;

    @media screen and (min-width: 756px) {
        width: 430px;
    }

    h4 {
        color: $color-gray-2;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .hobbies__sections--container {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        img {
            border-radius: 12px;
            width: 100%;
        }

        h6 {
            color: $color-titles;
            font-size: 18px;
            font-weight: 600;
            margin: 1rem 0 .5rem 0;
        }

        p {
            color: $color-gray-3;
        }
    }
}