#experiences {
    background-color: $color-white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 2rem;
    width: 330px;

    h4 {
        color: $color-gray-2;
        font-size: 24px;
        font-weight: 500;
    }

    .experiences__sections {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        padding: 0;

        img {
            height: 2rem;
            margin-top: 1rem;
        }

        .nivea {
            height: 3rem;
        }

        .texts {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .date {
                color: $color-gray-3;
                font-size: 14px;
            }

            h6 {
                color: $color-titles;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: .5rem;
            }

            .texts__description {
                color: $color-gray-3;
                width: 210px;
            }
        }
    }
}