#skills {
    background-color: $color-white;
    border-radius: 12px;
    padding: 20px;
    transition: .7s ease-in-out;
    width: 330px;

    @media screen and (min-width: 756px) {
        width: 430px;
    }

    @media screen and (min-width: 1024px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 334px;
    }

    h4 {
        color: $color-gray-2;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: .75rem;

        li {
            align-items: center;
            color: $color-gray-2;
            display: flex;
            justify-content: space-between;
            list-style: none;

            &:nth-child(1) .percentage {
                width: 80px;
            }

            &:nth-child(2) .percentage {
                width: 50px;
            }

            &:nth-child(3) .percentage {
                width: 100px;
            }

            &:nth-child(4) .percentage {
                width: 110px;
            }

            &:nth-child(5) .percentage {
                width: 90px;
            }

            &:nth-child(6) .percentage {
                width: 20px;
            }

            .space {
                background-color: $color-space;
                border-radius: 12px;
                height: 9px;
                width: 130px;
            }

            .percentage {
                background-color: $color-blue;
                border-radius: 12px;
                height: 9px;
            }
        }
    }
}