section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 1rem;
    row-gap: 1rem;
    width: 330px;

    img {
        align-self: center;
        border-radius: 1rem;
        width: 330px;
    }

    .intro__name {
        h4 {
            color: $color-gray-2;
            font-size: 24px;
            font-weight: 600;
        }

        p {
            color: $color-gray-3;
            font-size: 18px;
        }
    }

    address {
        .intro__contact {
            align-items: center;
            column-gap: .75rem;
            display: flex;
            margin-bottom: .5rem;
        }
        
        i {
            color: $color-gray-2;
            font-size: 18px;
        }
        
        p {
            color: $color-gray-2;
            font-size: 18px;
        }
    }

    p {
        color: $color-gray-3;
        font-size: 18px;
    }
}