#projects {
    background-color: $color-white;
    border-radius: 12px;
    padding: 20px;
    width: 330px;

    .title-chevrons {
        align-items: center;
        display: flex;
        justify-content: space-between;

        h4 {
            font-size: 24px;
        }

        .fa-chevron-down {
            display: none;
        }
    }

    .projects__buttons--container {
        display: none;
        justify-content: space-between;

        .react {
            align-items: center;
            border: 1px solid $color-gray-2;
            border-radius: 12px;
            display: flex;
            font-size: 14px;
            height: 33px;
            justify-content: center;
            width: 85px;
        }

        .vue {
            align-items: center;
            border: 1px solid $color-gray-2;
            border-radius: 12px;
            display: flex;
            font-size: 14px;
            height: 33px;
            justify-content: center;
            width: 72px;
        }

        .responsive {
            align-items: center;
            border: 1px solid $color-gray-2;
            border-radius: 12px;
            display: flex;
            font-size: 14px;
            height: 33px;
            justify-content: center;
            width: 118px;
        }
    }

    .projects__container {

        .projects {
            img {

            }

            .hashtags {
                span {
                    color: $color-gray-2;
                    font-size: 16px;
                }
            }

            .projects__texts {
                h4 {
                    color: $color-titles;
                    font-size: 24px;
                    font-weight: 500;
                }

                p {
                    color: $color-gray-3;
                    font-size: 16px;
                }
            }
        }
    }
}