#experiences {
    margin-top: 2rem;

    h4 {
        color: $color-gray-2;
        font-size: 24px;
        font-weight: 500;
    }

    .experiences__sections {
        background-color: transparent;
        display: flex;
        padding: 0;
    }
}