// Colors
$color-black: #000000;
$color-footer: #828282;
$color-gray1: #333333;
$color-gray2: #4F4F4F;
$color-gray4: #BDBDBD;
$color-orange: #F2994A;
$color-white: #FFFFFF;

// Fonts
$font-mont: 'Montserrat';
$font-play: 'Playfair Display';