// Colors
$color-gray: #4E5150;
$color-gray4: #BDBDBD;
$color-light-gray: #A9A9A9;
$color-super-light-gray: #E5E5E5;
$color-white: #FFFFFF;
$color-footer: #B9BDCF;


// Fonts
$font-mont: 'Montserrat';