@import '../abstract/variables';


main {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    .firstSection__container {
        width: 22rem;

        @media screen and (min-width: 1024px) {
            position: relative;
            width: auto;
        }

        h1 {
            font-family: $font-play;
            margin-top: 2rem;

            @media screen and (min-width: 1024px) {
                font-size: 2.5rem;
            }
        }

        .section__text {
            align-items: flex-start;
            column-gap: .5rem;
            display: flex;
            margin-top: .7rem;

            .section__text--img {
                margin-top: .25rem;
            }

            p {
                color: $color-gray2;
                font-family: $font-mont;
                font-size: .75rem;
                font-style: italic;
                font-weight: 500;
                width: 20rem;

                @media screen and (min-width: 1024px) {
                    width: 31rem;
                }
            }
        }

        .firstSection__img {
            border-radius: .75rem;
            margin-top: 2rem;
            width: 350px;

            @media screen and (min-width: 1024px) {
                width: 850px;
            }
        }

        .preparation {
            @media screen and (min-width: 1024px) {
                box-shadow: 0px 0px 20px 0px #0000001A;
                border-radius: .5rem;
                margin-top: 2.5rem;
                padding: 35px 40px 35px 40px;
                position: absolute;
                right: 0;
            }

            .firstSection__utensils {
                align-items: center;
                column-gap: .5rem;
                display: flex;
                margin-top: 1.5rem;

                @media screen and (min-width: 1024px) {
                    margin-top: 0;
                }

                .fa-utensils {
                    color: $color-orange;
                    font-size: .8rem;
                }

                .utensils__text {
                    display: flex;
                    flex-direction: column;
                    font-family: $font-mont;

                    .utensils__text--firstSpan {
                        color: $color-gray4;
                        font-size: .5rem;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    .utensils__text--secondSpan {
                        color: $color-orange;
                        font-size: .62rem;
                        font-weight: 500;
                    }
                }
            }
        }


        .firstSection__time {
            column-gap: 12%;
            display: flex;
            margin-top: 1.5rem;

            @media screen and (min-width: 1024px) {
                flex-direction: column;
                row-gap: 1.5rem;
            }

            .firstSection__time--infos {
                align-items: center;
                column-gap: .5rem;
                display: flex;

                .fa-clock {
                    font-size: .9rem;
                }

                .time__infos--text {
                    display: flex;
                    flex-direction: column;
                    font-family: $font-mont;

                    .info__time--firstSpan {
                        color: $color-gray4;
                        font-size: .5rem;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    .info__time--secondSpan {
                        font-size: .62rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .secondSection__container {
        @media screen and (min-width: 1024px) {
            width: 850px;
        }

        h3 {
            font-family: $font-play;
            font-size: 1.12rem;
            margin-bottom: 1rem;
        }

        .secondSection__ingredients {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            h4 {
                font-family: $font-play;
                font-size: 1rem;
                font-style: italic;
                font-weight: 400;
                margin-bottom: .5rem;
            }

            label {
                column-gap: .5rem;
                display: flex;
                font-family: $font-mont;

                input {
                    height: 21px;
                    width: 21px;
                }

                p {
                    font-size: .87rem;
                    line-height: 25px;
                    max-width: 321px;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }


        .ingredients__secondTitle {
            margin-top: 3rem;
        }

        .teste {
            color: $color-gray1;
            font-style: italic;
            font-weight: 500 !important;
        }

    }

    .thirdSection__container {
        @media screen and (min-width: 1024px) {
            width: 850px;
        }

        h2 {
            font-family: $font-play;
            margin-bottom: 1.5rem;
            text-align: start;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            li {
                list-style: none;

                .li__text {
                    column-gap: .5rem;
                    display: flex;

                    .li__text--number {
                        background-color: $color-orange;
                        border-radius: .5rem;
                        height: 32px;
                        text-align: center;
                        width: 32px;

                        span {
                            color: $color-white;
                            font-family: $font-play;
                            font-size: 1.12rem;
                            font-weight: 700;
                        }
                    }

                    p {
                        font-family: $font-mont;
                        line-height: 1.5rem;
                        width: 18.75rem;

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .source {
        p {
            color: $color-gray4;
            font-family: $font-mont;
            font-size: .75rem;
            line-height: 1.12rem;
        }

        span {
            font-style: italic;
        }
    }
}