@import '../abstract/variables';

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    h2 {
        color: $color-dark-gray;
        font-family: $inconsolata;
        font-size: 1.5rem;
        text-transform: uppercase;
        align-self: flex-start;
        margin-left: 5%;
    }

    .align__container {
        margin-top: 4rem;
        width: 90%;

        .img__container {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;

            .main__img {
                width: 80%;
            }
        }

        .align__container--texts {

            h1 {
                color: $color-dark-gray;
                font-family: $space-mono;
                font-size: 3rem;
                margin-bottom: 1.5rem;
            }

            p {
                color: $color-light-gray;
                font-family: $space-mono;
                font-size: 1.12rem;
                margin-bottom: 4rem;
            }

            .container__texts--button {
                display: none;
            }
        }
    }

    span {
        align-items: center;
        align-self: flex-start;
        background-color: $color-dark-gray;
        display: flex;
        height: 4.25rem;
        justify-content: center;
        margin-bottom: 32%;
        margin-left: 5%;
        width: 13.5rem;
    }

    span a {
        color: $color-white;
        font-family: $space-mono;
        font-size: .88rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

footer p {
    color: $color-footer;
    font-family: $mont;
    font-size: .88rem;
    text-align: center;
}