@import '../abstract/variables';

.contact {
    display: flex;
    flex-direction: column;

    .information {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        @media screen and (min-width: 1440px) {
            margin-bottom: 1rem;           
        }

        &:nth-child(2) {
            margin-bottom: 0;
        }

        h3 {
            color: $color-gray1;
            font-size: .87rem;
            margin: 1rem 0 .75rem 0;

            @media screen and (min-width: 1440px) {
                font-size: 1.12rem; 
                margin-top: 0;  
            }
        }

        label {
            color: $color-gray2;
            font-size: .62rem;
            margin-bottom: .3rem;
            
            @media screen and (min-width: 1440px) {
                font-size: .75rem;
                margin-bottom: .5rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .input__icon {
            position: relative;

            .bi {
                color: $color-gray3;
                font-size: 1.18rem;
                left: .8rem;
                position: absolute;
                top: .4rem;

                @media screen and (min-width: 1440px) {
                    font-size: 1.5rem;
                    top: .6rem;
                }
            }

            input {
                border: 1px solid $color-gray3;
                border-radius: .75rem;
                height: 2.5rem;
                margin-bottom: .75rem;
                padding-left: 2.8rem;
                width: 21.87rem;

                
                @media screen and (min-width: 1440px) {
                    font-size: 1rem;
                    height: 3.5rem;
                    margin-bottom: 1.12rem;
                    width: 29.06rem;
                }

                &::placeholder {
                    font-size: .75rem;

                    @media screen and (min-width: 1440px) {
                        font-size: 1rem;
                    }
                }
            }
        }

        .countryPostal {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .input__icon {
                margin-top: .3rem;

                #country {
                    border: 1px solid $color-gray3;
                    border-radius: .75rem;
                    height: 2.5rem;
                    margin-bottom: .75rem;
                    padding-left: 2.8rem;
                    width: 10.12rem;

                    @media screen and (min-width: 1440px) {
                        height: 3.5rem;
                        width: 13.56rem;
                    }
                    
                    option {
                        color: $color-gray3;
                        font-size: .75rem;

                        @media screen and (min-width: 1440px) {
                            font-size: 1rem;
                        }
                    }
                }
                
                input {
                    width: 10.12rem;
                    
                    @media screen and (min-width: 1440px) {
                        width: 13.56rem;
                    }
                }
            }
        }
    }

    .checkbox {
        align-items: center;
        column-gap: .5rem;
        display: flex;

        input {
            height: 1rem;
            width: 1rem;

            @media screen and (min-width: 1440px) {
                height: 1.31rem;       
                width: 1.31rem; 
                
                &:hover {
                    cursor: pointer;
                }
            }
        }

        label {
            color: $color-gray2;
            font-size: .62rem;

            @media screen and (min-width: 1440px) {
                font-size: .75rem;   
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .button {
        align-items: center;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;

        input {
            background-color: $color-orange;
            border-radius: .75rem;
            border: none;
            color: $color-white;
            height: 3.37rem;
            width: 10.37rem;

            &:hover {
                background-color: lightgreen;
                cursor: pointer;
                transition: .7s;
            }
        }
    }
}