main {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
main h1 {
  color: #4E5150;
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
  text-align: start;
  width: 21.87rem;
}

.car {
  background-color: #F2F2F2;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  row-gap: 2rem;
  width: 21.87rem;
}
.car .items {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
}
.car .items img {
  border-radius: 0.75rem;
  width: 7.68rem;
}
.car .items .items__tq--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.car .items .items__tq--container .items__text h5 {
  color: #4E5150;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.car .items .items__tq--container .items__text .items__text--span {
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
}
.car .items .items__tq--container .items__text .items__text--span span {
  font-size: 0.87rem;
  color: #F2994A;
}
.car .items .items__tq--container .items__text .items__text--span span:last-child {
  color: #4E5150;
  font-size: 0.62rem;
  text-decoration: line-through;
}
.car .items .items__tq--container .items__quant {
  align-items: center;
  border: 1px solid #828282;
  border-radius: 0.75rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
  height: 3.12rem;
  justify-content: center;
  width: 7.62rem;
}
.car .items .items__tq--container .items__quant .items__quant--span {
  align-items: center;
  background-color: #BDBDBD;
  border-radius: 0.3rem;
  display: flex;
  height: 22px;
  justify-content: center;
  width: 22px;
}
.car .items .items__tq--container .items__quant .items__quant--span:nth-child(2) {
  background-color: transparent;
}
.car .items .items__tq--container .items__quant .items__quant--span span {
  color: #828282;
  font-size: 1.2rem;
}
.car .total .shippingTotal {
  color: #333333;
  display: flex;
  justify-content: space-between;
}
.car .total .shippingTotal:first-child {
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.contact .information {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.contact .information h3 {
  color: #333333;
  font-size: 0.87rem;
  margin: 1rem 0 0.75rem 0;
}
.contact .information label {
  color: #4F4F4F;
  font-size: 0.62rem;
  margin-bottom: 0.3rem;
}
.contact .information .input__icon {
  position: relative;
}
.contact .information .input__icon .bi {
  color: #828282;
  font-size: 1.18rem;
  left: 0.8rem;
  position: absolute;
  top: 0.4rem;
}
.contact .information .input__icon input {
  border: 1px solid #828282;
  border-radius: 0.75rem;
  height: 2.5rem;
  margin-bottom: 0.75rem;
  padding-left: 2.5rem;
  width: 21.87rem;
}
.contact .information .input__icon input::-moz-placeholder {
  font-size: 0.75rem;
}
.contact .information .input__icon input::placeholder {
  font-size: 0.75rem;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */