@import 'components/main';
@import 'components/car';
@import 'components/contact';
@import 'components/footer';

* {
    box-sizing: border-box;
    font-family: $mont;
    margin: 0;
    padding: 0;
}