@import '../abstract/variables';

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    row-gap: 6rem;

    @media screen and (min-width: 1440px) {
        margin-top: 6rem;
    }

    .introSection {
        align-items: center;
        display: flex;
        flex-direction: column;

        p {
            align-self: self-start;
            color: $color-blue;
            font-size: 12px;
            font-weight: 500;
            margin-left: 2rem;

            @media screen and (min-width: 1024px) {
                margin-left: 9rem;
            }

            @media screen and (min-width: 1440px) {
                font-size: 18px;
                margin-bottom: .75rem;
                margin-left: 14rem;
            }
        }

        h1 {
            align-self: self-start;
            color: $color-gray1;
            font-size: 24px;
            font-weight: 500;
            margin-left: 2rem;
            width: 272px;

            @media screen and (min-width: 1024px) {
                margin-left: 9rem;
            }

            @media screen and (min-width: 1440px) {
                font-size: 48px;
                margin-bottom: 1rem;
                margin-left: 14rem;
                width: 543px;
            }
        }

        img {
            border-radius: 18px;
            margin: 1rem 0;
            width: 348px;

            @media screen and (min-width: 1024px) {
                width: 800px;
            }

            @media screen and (min-width: 1440px) {
                margin-bottom: 2rem;
                width: 1330px;
            }
        }

        h2 {
            align-self: self-start;
            color: $color-gray1;
            font-weight: 500;
            margin-left: 2rem;
            width: 227px;

            @media screen and (min-width: 1024px) {
                margin-left: 9rem;
            }

            @media screen and (min-width: 1440px) {
                font-size: 48px;
                margin-left: 14rem;
                width: 366px;
            }
        }

        .introSection__secondP {
            color: $color-gray2;
            font-weight: 400;
            line-height: 18px;
            margin: 1rem 2rem 2rem 2rem;
            width: 275px;

            @media screen and (min-width: 1024px) {
                margin-left: 9rem;
            }

            @media screen and (min-width: 1440px) {
                line-height: 27px;
                margin-left: 14rem;
                margin-top: 2rem;
                width: 366px;
            }
        }

        form {
            align-self: self-start;
            margin-left: 2rem;
            position: relative;

            @media screen and (min-width: 1024px) {
                margin-left: 9rem;
            }

            @media screen and (min-width: 1440px) {
                margin-left: 14rem;
            }

            label {
                color: $color-gray3;
                display: flex;
                font-size: 10px;
                font-weight: 500;
                margin-bottom: .5rem;

                @media screen and (min-width: 1440px) {
                    font-size: 14px;
                }
            }

            input {
                background-color: $color-gray6;
                border: none;
                border-radius: 12px;
                height: 47px;
                padding-left: 1.5rem;
                width: 291px;

                @media screen and (min-width: 1440px) {
                    height: 57px;
                    width: 350px;
                }

                &::placeholder {
                    color: $color-gray4;
                    font-size: 14px;

                    @media screen and (min-width: 1440px) {
                        font-size: 18px;
                    }
                }
            }

            .introSection__join {
                background-color: $color-blue;
                color: $color-white;
                height: 39px;
                padding: 0;
                position: absolute;
                right: .3rem;
                top: 1.65rem;
                width: 71px;

                @media screen and (min-width: 1440px) {
                    font-size: 18px;
                    height: 49px;
                    top: 2.05rem;
                    width: 94px;
                }
            }
        }
    }
}