@import '../abstract/variables';

footer {
    background-color: $color-footer-bg;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    position: relative;
    row-gap: 4rem;

    @media screen and (min-width: 1024px) {
        justify-content: space-around;
        flex-direction: row;
        margin-top: 8rem;
        padding-top: 4rem;
    }                       

    ul {
        padding-top: 32px;

        @media screen and (min-width: 1024px) {
            padding-top: 0;
        }

        li {
            font-size: 18px;
            font-weight: 400;
            list-style: none;
            line-height: 36px;
            margin-left: 32px;

            @media screen and (min-width: 1024px) {
                &:hover {
                    transform: scale(1.2);
                    transition: .7s;
                }   
            }
            
            a {
                color: $color-footer-text;
                text-decoration: none;
            }
        }
    }

    .socialNetworks {
        margin-left: 32px;

        span {
            color: $color-gray6;
            font-family: $font-heebo;
            font-size: 36px;
        }

        .socialNetworks__images--container {

            img {
                border-radius: .3rem;

                @media screen and (min-width: 1024px) {
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.2);
                        transition: .5s;
                    }   
                }
            }

            .linkedin {
                margin: 0 .5rem;
            }
        }
    }

    #footerForm {
        display: flex;
        flex-direction: column;
        margin-bottom: 30%;
        margin-left: 32px;
        position: relative;
        row-gap: .5rem;
        width: 291px;

        @media screen and (min-width: 1440px) {
            margin-bottom: 20%;              
        }
        
        label {
            color: $color-gray3;
            font-weight: 500;
            font-size: 10px;

            @media screen and (min-width: 1440px) {
                font-size: 14px;          
            }
        }
        
        #footerEmail {
            background-color: $color-gray6;
            border: none;
            border-radius: 12px;
            height: 47px;
            outline: none;
            padding-left: 25px;
            width: 291px;

            @media screen and (min-width: 1440px) {
                height: 57px;
                width: 350px;          
            }

            &::placeholder {
                color: $color-gray4;
                font-size: 14px;
                font-weight: 500;

                @media screen and (min-width: 1440px) {
                    font-size: 18px;      
                }
            }
        }

        #footerSubmit {
            background-color: $color-blue;
            border: none;
            border-radius: 12px;
            color: $color-gray6;
            font-size: 14px;
            font-weight: 500;
            height: 39px;
            position: absolute;
            right: .3rem;
            top: 1.67rem;
            width: 71px;

            @media screen and (min-width: 1024px) {
                &:hover {
                    background-color: $color-green;
                    cursor: pointer;
                    transition: .7s;
                }   
            }

            @media screen and (min-width: 1440px) {
                font-size: 18px;
                height: 49px;
                left: 15.75rem;
                top: 2.05rem;
                width: 94px;
            }
        }
    }

    p {
        color: $color-gray6;
        font-family: $font-mont;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: center;

        @media screen and (min-width: 1024px) {
            bottom: 0;
            position: absolute;
        }

        a {
            color: $color-white;
            text-decoration: none;
            font-weight: 700;
        }
    }
}