@import '../abstract/variables';

footer {
    background-color: $color-footer-bg;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    position: relative;
    row-gap: 4rem;

    @media screen and (min-width: 1024px) {
        justify-content: space-around;
        flex-direction: row;
        margin-top: 8rem;
        padding-top: 4rem;
    }

    ul {
        padding-top: 32px;

        @media screen and (min-width: 1024px) {
            padding-top: 0;
        }

        li {
            font-size: 18px;
            font-weight: 400;
            list-style: none;
            line-height: 36px;
            margin-left: 32px;
            
            a {
                color: $color-footer-text;
                text-decoration: none;
            }
        }
    }

    .socialNetworks {
        margin-left: 32px;

        span {
            color: $color-gray6;
            font-family: $font-heebo;
            font-size: 36px;
        }

        .socialNetworks__images--container {

            img {
                border-radius: .3rem;
            }

            .linkedin {
                margin: 0 .5rem;
            }
        }
    }

    #footerForm {
        display: flex;
        flex-direction: column;
        margin-bottom: 30%;
        margin-left: 32px;
        position: relative;
        row-gap: .5rem;
        width: 291px;
        
        label {
            color: $color-gray3;
            font-weight: 500;
            font-size: 10px;
        }
        
        #footerEmail {
            background-color: $color-gray6;
            border: none;
            border-radius: 12px;
            height: 47px;
            outline: none;
            padding-left: 25px;
            width: 291px;

            &::placeholder {
                color: $color-gray4;
                font-size: 14px;
                font-weight: 500;
            }
        }

        #footerSubmit {
            background-color: $color-blue;
            border: none;
            border-radius: 12px;
            color: $color-gray6;
            font-size: 14px;
            font-weight: 500;
            height: 39px;
            position: absolute;
            right: .3rem;
            top: 1.67rem;
            width: 71px;
        }
    }

    p {
        color: $color-gray6;
        font-family: $font-mont;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: center;

        @media screen and (min-width: 1024px) {
            position: absolute;
            bottom: 0;
        }

        a {
            color: $color-white;
            text-decoration: none;
            font-weight: 700;
        }
    }
}