@import '../abstract/variables';

.fourthSection {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;

    p {
        color: $color-red;
        font-size: 18px;
        font-weight: 500;

        &:last-of-type {
            color: $color-gray2;
            font-size: 16px;
            font-weight: 400;
            width: 273px;
        }
    }

    h2 {
        color: $color-gray1;
        font-size: 36px;
        font-weight: 500;
        width: 280px;
    }

    .pics__container {
        height: 320px;
        width: 350px;

        display: grid;
        grid-template-columns: auto auto;
        gap: .5rem;
        grid-template-rows: 72.5px 72.5px 83.5px 83.5px;

        .person1 {
            border-radius: 24px;
            height: 145px;

            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }

        .person2 {
            border-radius: 24px;
            height: 167px;
            width: 162px;

            grid-column: 2 / 3;
        }

        .person3 {
            border-radius: 24px;
            height: 178px;

            // grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }

    blockquote {
        color: $color-gray1;
        font-size: 24px;
        font-weight: 500;
        width: 351px;
    }

    .blockquote__cite {
        column-gap: 2rem;
        display: flex;
        margin: 1rem 0;

        img {
            border-radius: .75rem;
            height: 82px;
        }

        .blockquote__cite--texts {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            p {
                color: $color-gray1;
                font-size: 24px;
                font-weight: 500;

                &:last-child {
                    color: $color-gray3;
                    font-size: 18px;
                    width: auto;
                }
            }
        }
    }
}