@import '../abstract/variables';

header {
    margin: .5rem 0 .5rem .5rem;

    nav {
        align-items: center;
        display: flex;
        justify-content: space-between;

        span {
            font-family: $font-heebo;
            font-size: 24px;
            font-weight: 800;
        }

        .fa-bars {
            width: 24px;
        }

        .fa-xmark {
            display: none;
            width: 24px;
            z-index: 2;
        }

        ul {
            align-items: center;
            background-color: bisque;
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            left: 0;
            position: absolute;
            row-gap: 36px;
            transition: .7s;
            top: -100%;
            width: 100vw;
            z-index: 1;

            li {
                font-family: $font-poppins;
                font-size: 24px;
                font-weight: 500;
                list-style: none;
            }
        }

        .ul__expanded {
            top: 0;
        }
    }
}