@import '../abstract/variables';

header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 24px;
        font-weight: 800;
    }

    .fa-bars {
        width: 24px ;
    }
}