@import '../abstract/variables';

.thirdSection {
    @media screen and (min-width: 1024px) {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 856px;
    }

    @media screen and (min-width: 1440px) {
        width: 1087px;           
    }

    h2 {
        color: $color-gray1;
        font-weight: 500;
        margin-bottom: 3rem;
        width: 267px;

        @media screen and (min-width: 1024px) {
            align-self: flex-start;
            margin-bottom: 1.5rem;
        }

        @media screen and (min-width: 1440px) {
            font-size: 36px;
            margin-bottom: 4rem;
            width: 448px;       
        }
    }

    .thirdSection__sections--container {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @media screen and (min-width: 1024px) {
            column-gap: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 136px 136px 136px 136px 136px 136px 136px 136px;
            padding-top: 5rem;
            row-gap: 0;
        }

        @media screen and (min-width: 1440px) {
            grid-template-rows: 177px 177px 177px 177px 177px 177px 177px 177px;       
        }

        section {

            @media screen and (min-width: 1024px) {

                &:nth-child(1) {
                    grid-column: 1 / 2;
                    grid-row: 2 / 4;
                }

                &:nth-child(2) {
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                }

                &:nth-child(3) {
                    grid-column: 1 / 2;
                    grid-row: 6 / 9;
                }

                &:nth-child(4) {
                    grid-column: 2 / 3;
                    grid-row: 5 / 8;
                }
            }

            img {
                border-radius: 24px;
                width: 350px;

                @media screen and (min-width: 1024px) {
                    width: 415px;
                }

                @media screen and (min-width: 1440px) {
                    width: 543px;
                }
            }

            p {
                color: $color-gray3;
                font-size: 12px;

                @media screen and (min-width: 1440px) {
                    font-size: 14px;
                    margin-bottom: .2rem;
                    margin-top: .5rem;
                }
            }

            h3 {
                color: $color-gray1;
                font-size: 18px;
                font-weight: 500;

                @media screen and (min-width: 1440px) {
                    font-size: 24px;
                }
            }
        }

        .seeMore {
            align-items: center;
            align-self: flex-start;
            column-gap: .5rem;
            display: flex;

            @media screen and (min-width: 1024px) {
                grid-column: 2 / 3;
                grid-row: 9 / 9;
                justify-self: flex-end;
            }

            a {
                color: $color-blue;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;

                @media screen and (min-width: 1440px) {
                    font-size: 24px;
                }
            }

            .fa-arrow-right-long {
                color: $color-blue;
                font-size: 10px;

                @media screen and (min-width: 1440px) {
                    font-size: 16px;
                }
            }
        }
    }
}