header {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
@media screen and (min-width: 1024px) {
  header {
    margin: 1.5rem 2rem 1rem 2rem;
  }
}
header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header nav span {
  font-family: "Heebo";
  font-size: 24px;
  font-weight: 800;
}
header nav .fa-bars {
  width: 24px;
}
header nav .fa-xmark {
  display: none;
  width: 24px;
  z-index: 2;
}
header nav ul {
  align-items: center;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  row-gap: 36px;
  transition: 0.7s;
  top: -100%;
  width: 100vw;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    position: static;
    width: 500px;
  }
}
header nav ul li {
  color: #333333;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  list-style: none;
}
@media screen and (min-width: 1024px) {
  header nav ul li {
    font-size: 16px;
  }
}
header nav .ul__expanded {
  top: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  row-gap: 6rem;
}
main .introSection {
  align-items: center;
  display: flex;
  flex-direction: column;
}
main .introSection p {
  align-self: self-start;
  color: #2D9CDB;
  font-size: 12px;
  font-weight: 500;
  margin-left: 2rem;
}
@media screen and (min-width: 1024px) {
  main .introSection p {
    margin-left: 9rem;
  }
}
main .introSection h1 {
  align-self: self-start;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  margin-left: 2rem;
  width: 272px;
}
@media screen and (min-width: 1024px) {
  main .introSection h1 {
    margin-left: 9rem;
  }
}
main .introSection img {
  border-radius: 18px;
  margin: 1rem 0;
  width: 348px;
}
@media screen and (min-width: 1024px) {
  main .introSection img {
    width: 800px;
  }
}
main .introSection h2 {
  align-self: self-start;
  color: #333333;
  font-weight: 500;
  margin-left: 2rem;
  width: 227px;
}
@media screen and (min-width: 1024px) {
  main .introSection h2 {
    margin-left: 9rem;
  }
}
main .introSection .introSection__secondP {
  color: #4F4F4F;
  font-weight: 400;
  line-height: 18px;
  margin: 1rem 2rem 2rem 2rem;
  width: 275px;
}
@media screen and (min-width: 1024px) {
  main .introSection .introSection__secondP {
    margin-left: 9rem;
  }
}
main .introSection form {
  align-self: self-start;
  margin-left: 2rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  main .introSection form {
    margin-left: 9rem;
  }
}
main .introSection form label {
  color: #828282;
  display: flex;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
main .introSection form input {
  background-color: #F2F2F2;
  border: none;
  border-radius: 12px;
  height: 47px;
  padding-left: 1.5rem;
  width: 291px;
}
main .introSection form input::-moz-placeholder {
  color: #BDBDBD;
  font-size: 14px;
}
main .introSection form input::placeholder {
  color: #BDBDBD;
  font-size: 14px;
}
main .introSection form .introSection__join {
  background-color: #2D9CDB;
  color: #FFFFFF;
  height: 39px;
  padding: 0;
  position: absolute;
  right: 0.3rem;
  top: 1.65rem;
  width: 71px;
}

.secondSection section:nth-child(2) {
  border-radius: 24px;
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.1019607843);
}
.secondSection h2 {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  margin-left: 32px;
  width: 259px;
}
@media screen and (min-width: 1024px) {
  .secondSection h2 {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .secondSection .secondSection__sections--container {
    align-items: center;
    display: flex;
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.secondSection .secondSection__sections--container section {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  row-gap: 2rem;
}
.secondSection .secondSection__sections--container section .iconSpace {
  align-items: center;
  background-color: #2D9CDB;
  border-radius: 16px;
  display: flex;
  height: 67px;
  justify-content: center;
  width: 67px;
}
.secondSection .secondSection__sections--container section .iconSpace .fa-pencil {
  color: #FFFFFF;
  font-size: 27px;
}
.secondSection .secondSection__sections--container section .iconSpace .fa-angle-left {
  color: #FFFFFF;
  font-size: 24px;
}
.secondSection .secondSection__sections--container section .iconSpace .fa-angle-right {
  color: #FFFFFF;
  font-size: 24px;
}
.secondSection .secondSection__sections--container section .iconSpace .fa-bars-progress {
  color: #FFFFFF;
  font-size: 30px;
}
.secondSection .secondSection__sections--container section .greenIcon {
  background-color: #27AE60;
}
.secondSection .secondSection__sections--container section .redIcon {
  background-color: #EB5757;
}
.secondSection .secondSection__sections--container section h3 {
  font-size: 24px;
}
.secondSection .secondSection__sections--container section p {
  color: #4F4F4F;
  font-weight: 400;
  width: 273px;
}
@media screen and (min-width: 1024px) {
  .secondSection .secondSection__sections--container section p {
    width: 200px;
  }
}
.secondSection .secondSection__sections--container section .button {
  align-items: center;
  background-color: #E0E0E0;
  border-radius: 12px;
  display: flex;
  height: 42px;
  text-align: center;
  width: 116px;
}
.secondSection .secondSection__sections--container section .button p {
  color: #828282;
}
.secondSection .secondSection__sections--container section .blueButton {
  background-color: #2D9CDB;
}
.secondSection .secondSection__sections--container section .blueButton p {
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .thirdSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 856px;
  }
}
.thirdSection h2 {
  color: #333333;
  font-weight: 500;
  margin-bottom: 3rem;
  width: 267px;
}
@media screen and (min-width: 1024px) {
  .thirdSection h2 {
    align-self: flex-start;
    margin-bottom: 1.5rem;
  }
}
.thirdSection .thirdSection__sections--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .thirdSection .thirdSection__sections--container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 136px 136px 136px 136px 136px 136px 136px 136px;
    padding-top: 5rem;
    row-gap: 0;
  }
}
@media screen and (min-width: 1024px) {
  .thirdSection .thirdSection__sections--container section:nth-child(1) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .thirdSection .thirdSection__sections--container section:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .thirdSection .thirdSection__sections--container section:nth-child(3) {
    grid-column: 1/2;
    grid-row: 6/9;
  }
  .thirdSection .thirdSection__sections--container section:nth-child(4) {
    grid-column: 2/3;
    grid-row: 5/8;
  }
}
.thirdSection .thirdSection__sections--container section img {
  border-radius: 24px;
  width: 350px;
}
@media screen and (min-width: 1024px) {
  .thirdSection .thirdSection__sections--container section img {
    width: 415px;
  }
}
.thirdSection .thirdSection__sections--container section p {
  color: #828282;
  font-size: 12px;
}
.thirdSection .thirdSection__sections--container section h3 {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
}
.thirdSection .thirdSection__sections--container .seeMore {
  align-items: center;
  align-self: flex-start;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .thirdSection .thirdSection__sections--container .seeMore {
    grid-column: 2/3;
    grid-row: 9/9;
    justify-self: flex-end;
  }
}
.thirdSection .thirdSection__sections--container .seeMore a {
  color: #2D9CDB;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.thirdSection .thirdSection__sections--container .seeMore .fa-arrow-right-long {
  color: #2D9CDB;
  font-size: 10px;
}

.fourthSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.fourthSection p {
  color: #EB5757;
  font-size: 18px;
  font-weight: 500;
}
.fourthSection p:last-of-type {
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 400;
  width: 273px;
}
.fourthSection h2 {
  color: #333333;
  font-size: 36px;
  font-weight: 500;
  width: 280px;
}
.fourthSection .pics__container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto;
  grid-template-rows: 72.5px 72.5px 83.5px 83.5px;
  height: 320px;
  margin: 2rem 0 6rem 0;
  width: 350px;
}
.fourthSection .pics__container .person1 {
  border-radius: 24px;
  grid-column: 2/3;
  grid-row: 1/3;
  height: 145px;
}
.fourthSection .pics__container .person2 {
  border-radius: 24px;
  grid-column: 2/3;
  height: 167px;
  width: 162px;
}
.fourthSection .pics__container .person3 {
  border-radius: 24px;
  grid-row: 2/3;
  height: 178px;
}
.fourthSection blockquote {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  width: 351px;
}
.fourthSection .blockquote__cite {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  display: flex;
  margin: 1rem 0;
}
.fourthSection .blockquote__cite img {
  border-radius: 0.75rem;
  height: 82px;
}
.fourthSection .blockquote__cite .blockquote__cite--texts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fourthSection .blockquote__cite .blockquote__cite--texts p {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
}
.fourthSection .blockquote__cite .blockquote__cite--texts p:last-child {
  color: #828282;
  font-size: 18px;
  width: auto;
}

footer {
  background-color: #100E1D;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  row-gap: 4rem;
}
footer ul {
  padding-top: 32px;
}
footer ul li {
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  line-height: 36px;
  margin-left: 32px;
}
footer ul li a {
  color: #F2F2F2;
  text-decoration: none;
}
footer .socialNetworks {
  margin-left: 32px;
}
footer .socialNetworks span {
  color: #F2F2F2;
  font-family: "Heebo";
  font-size: 36px;
}
footer .socialNetworks .socialNetworks__images--container img {
  border-radius: 0.3rem;
}
footer .socialNetworks .socialNetworks__images--container .linkedin {
  margin: 0 0.5rem;
}
footer #footerForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 30%;
  margin-left: 32px;
  position: relative;
  row-gap: 0.5rem;
  width: 291px;
}
footer #footerForm label {
  color: #828282;
  font-weight: 500;
  font-size: 10px;
}
footer #footerForm #footerEmail {
  background-color: #F2F2F2;
  border: none;
  border-radius: 12px;
  height: 47px;
  outline: none;
  padding-left: 25px;
  width: 291px;
}
footer #footerForm #footerEmail::-moz-placeholder {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 500;
}
footer #footerForm #footerEmail::placeholder {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 500;
}
footer #footerForm #footerSubmit {
  background-color: #2D9CDB;
  border: none;
  border-radius: 12px;
  color: #F2F2F2;
  font-size: 14px;
  font-weight: 500;
  height: 39px;
  position: absolute;
  right: 0.3rem;
  top: 1.67rem;
  width: 71px;
}
footer p {
  color: #F2F2F2;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
footer p a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */